*{ 
    margin:0; 
    padding:0; 

    } 
    body{ 
      font-family: sans-serif; 
      background-size: cover; 
  width:100%
 
            background-color:#eae3dcdc; 
           
 
    } 
    html{
      scroll-behavior:smooth;
    }
    .mob{ 
        height: 39px; 
background-color:purple;         position:fixed; 
        width: 100%; 
 
    } 
.desk{ 
    height: 39px; 
    background-color:rgba(162, 1, 199, 0.952); 
    width: 100%; 
    position: fixed; 
} 
 
.container nav.desk 
.container nav.mob{ 
    width:100%; 
    height:50px;  
 
    } 
label{ 
    font-size: xx-large; 
    color: gold; 
    font-weight: bolder; 
} 
 


.logo{ 
    font-size: x-large; 
    color: gold; 
    font-weight: bolder; 
} 

nav.desk ul li a { 
 padding: 7px; 
 line-height: 40px; 
color: white; 
        } 
 
        .desk ul { 
     float:right ; 
 
                } 
.desk ul li{ 
 
    font-size:larger; 
   display: inline-block; 
    text-transform:uppercase; 
    cursor:pointer; 
    transition:all 0.5s ease; 
    } 
 
 
nav  li:hover{ 
 
   color: black; 
    background-color:#9d037ce9; 
    font-size:20px; 
 
    } 
 
 
 
    nav  li a:hover{ 
 
 
        background-color:red; 
        color: black; 
        font-size:23px; 
 
        } 
 
nav ul li a{ 
    color:white; 
    text-decoration:none; 
    font-weight:bold; 
 
    } 
 
nav.mob, 
.toggle{ 
    display:none; 
    position:static; 
    } 
 
@media screen and (max-width:576px){ 
 
nav.desk{     
    display:none; 
    } 
}
nav.mob, 
.toggle{ 
    display:inline-block;    
 
 
    } 
 
.toggle{ 
 
    float:right; 
    font-size:38px; 
    margin-right:-18px; 
    margin-top:-26px; 
 
    } 
    .main-btn:hover{
background-color:darkred;
color: gold;



    }
    .main-btn{
        width: fit-content;
      height: fit-content;
      font-family:poppins;
      font-size: 17px;
      font-weight: bold;
      color: purple;
      background-color: lime;
      padding:5px 10px ;
      outline: white;
      border-radius: 3mm;
      cursor: pointer;
      border-color: gold;
      
      
      }
 
.toggle.fa-bars, 
.toggle.fa-times{ 
 
    icon-size:35px; 
    color:black; 
    cursor:pointer; 
 
 
    } 
 
.mob ul{ 
    margin-top:10px; 
    background:blue; 
    color: white; 
    display:none; 
 
    } 
 
.mob li{ 
    text-transform:uppercase; 
    text-align:center; 
    padding:2px; 
    cursor:pointer; 
 
    } 
 
.mob ul.active{ 
    display:block; 
} 
/* icon */
.fa { 
    padding: 20px; 
    font-size: 39px;
   
    width: 29px; 
    height: 23px;
    text-align: center; 
    text-decoration:dashed; 
    margin: 5px 2px; 
    background-color;
  } 
 
  
  .fa-facebook-square{ 
    padding: 10px; 
    font-size: 29px; 
    width: 35px; 
 
    text-align: center; 
    text-decoration:dashed; 
    margin: 5px 2px; 
  } 
 
  
  .fa-facebook-square{
  
    color: rgb(14, 14, 170);
  }

  .fa-facebook-square:hover{
    background-color:black;
    color:purple;
  }
  .fa-facebook{
  
    background:#3f67b7;
    color: white;
   
  }
  .fa-youtube{
    background: #bb0000;
    color: white;
  }
  .fa-twitter{
    background: #55acee;
  }
  .fa-github{
    background:black;
    color: white;
  }
  .fa-whatsapp{
    background:green;
  }
  
  .fa-google{
    background:black;
    color: white;
  }


.fa-moon-o{
   cursor: pointer;
padding: 6px;
  /* icon*/  
}
form2{
  text-align: center;
}
f{
  text-align: center;
  color:white;
  font-weight: bold;
  text-align: center;
  font-size:medium;
}
n{
  text-align: center;
  color: rgb(0, 255, 0);
  font-weight: bolder;
  font-size: xx-large;
}
.popup-content{
  width: 150px;
  height: 170px;
  
    background-color:rgb(136, 38, 38);
  box-sizing: border-box;
  border-radius: 3mm;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  }
  .popup{
    width: 150px;
    height: 170px;
    text-align: center;
      background-color:rgb(136, 38, 38);
    box-sizing: border-box;
    border-radius: 3mm;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    }

  .prog{
  background-color: rgb(0, 255, 0);
  color: crimson;
  width: 50%;
  initial-value: 20%;
  animation: forwards;
  animation-name: inherit;
  }
  Form{ 
    font-size:25px; 
    width: 100%;
    background-color:rgba(244, 187, 1, 0.854); 
    color:rgb(54, 0, 54);
   
    } 
   
    
    input{ 
    font-size:21px; 
     
 
    } 
    
section1{
text-align:center;
background: rgb(78, 77, 77);

}
.butt:hover{
    background-color: rgb(255, 187, 0);
    color: #bb0000;
}
.butt{
    width: fit-content;
  height: fit-content;
  font-family:poppins;
  font-size:17px;
  font-weight: bold;
  color:whitesmoke;
  background-color:rgb(149, 4, 118);
  padding:5px 10px ;
  outline: white;
  border-radius: 3mm;
  cursor: pointer;
  border-color: gold;
  
  
  }
   
section2{
text-align:center;

}

b{
    color: black;
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    
}
h{
  color: black;
  font-size: x-large;
  font-weight: bold;
 
}
Li{
  font-size: large;
  font-style: italic;
}

a{
  color:rgb(178, 2, 2);
  font-weight: bold;
}
.container {
  border-radius: 10px;
  width:95%;


  }
  

  .container h2 {
    margin-bottom: 30px;
    }
    
    .container .skill {
    margin-bottom: 35px;
    position: relative;
    overflow-x: hidden;
    }
    
    .container .skill::before {
    content: "";
    width: 100%;
    height: 10px;
    display: block;
    position: absolute;
    background-color: #959595;
    bottom: 0;
    border-radius: 10px;
    }
    
    .container .skill .skill-bar:hover::before {
    height: 100%;
    }
    
    .container .skill p {
    font-size: 18px;
    font-weight: 700;
    color: #1a1716;
    margin: 0;
    }
    
    .container .skill .skill-bar {
    width: 100%;
    height: 10px;
    display: block;
    position: relative;
    border-radius: 10px;
    animation: animated 1s both;
    }
    
    .container .skill .skill-bar.skill1 {
    background-image: linear-gradient(109.6deg, rgba(156, 252, 248, 1) 11.2%, rgba(110, 123, 251, 1) 91.1%);
    width: 80%;
    }
    
    .container .skill .skill-bar.skill2 {
    background-image: linear-gradient(109.6deg, rgba(253, 199, 141, 1) 11.3%, rgba(249, 143, 253, 1) 100.2%);
    width: 70%;
    }
    
    .container .skill .skill-bar.skill3 {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(253, 193, 104, 1) 0%, rgba(251, 128, 128, 1) 90%);
    width: 55%;
    }
    
    .container .skill .skill-bar.skill4 {
    background-image: linear-gradient(109.6deg, rgba(218, 185, 252, 1) 11.2%, rgba(125, 89, 252, 1) 91.1%);
    width: 45%;
    }
    
    .container .skill .skill-bar.skill5 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    width: 45%;
    }
    .container .skill .skill-bar.skill6 {
    background: linear-gradient(25deg, #cc2b5e, #753a88 50%);
    width: 35%;
    }
    .container .skill .skill-bar span {
    position: absolute;
    border-top: 5px solid #f4392f;
    top: -30px;
    padding: 3px 0;
    font-size: 18px;
    font-weight: 500;
    }
    
    .container .skill .skill-bar.skill1 span.skill-count,
    .container .skill .skill-bar.skill2 span.skill-count,
    .container .skill .skill-bar.skill3 span.skill-count,
    .container .skill .skill-bar.skill4 span.skill-count,
    .container .skill .skill-bar.skill6 span.skill-count,
    .container .skill .skill-bar.skill5 span.skill-count {
    right: 0;
    }
    
    
    @keyframes animated {
      from {
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      }
      
      to {
      transform: matrix3d(0, 0, 0);
      }
      }
      .skill-count{
          color:purple;
          font-weight:bolder ;
      }    

    /* notes of class*/
    #box{
        display: inline-block;
        text-align: center;
        height:163px;
        width: 160px;
        background-color:rgba(214, 3, 119, 0.909);
        border-radius: 3mm;
        padding: 5px;
        margin: 5px;
    }
    Y{
        font-size: 22px;
        color:yellow;
        font-weight: bolder;
    }
    z{
        font-size: 15px;
        color:white;
        font-weight: bold;
    }
    .butt{
        width: fit-content;
      height: fit-content;
      font-family:poppins;
      font-size:17px;
      font-weight: bold;
      color:whitesmoke;
      background-color:green;
      padding:5px 10px ;
    margin: 10px;
    
      cursor: pointer;
    
      }
      K{  
        color:green;  
        font-size:22px;  
        font-weight: bold;  
    
    
    } 
  
  .div span{
      
      color:rgb(139, 46, 2);
      animation-name: colorchange;
      animation-duration: 12s;
      animation-timing-function: infinite ;
      animation-delay: 2s;
  }
  /*welcome*/
  @keyframes colorchange {
      
    20% {color: blue; }
      30% {color: red; }
      40% {color: green; }
      50% {color: Purple; }
      60% {color: black; }
      70% {color:gold; }
      80% {color:white; }
      90% {color:magenta; }
      100% {color:mediumspringgreen; }
      
  }
  span{
      margin:-2px;
      font-size:xx-large ;
      font-weight:bold;
      
  }
  section9{
      text-align:center ;
  }
