*{
    margin:0;
  padding:0;
  text-decoration:none;
  box-sizing: border-box;
}
html{
  scroll-behavior:smooth;
  
}
body{
  font-family: sans-serif;
  background-image: url('https://scontent.fpkr3-1.fna.fbcdn.net/v/t1.15752-9/337544883_536990218459637_808167075027434409_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=kOVe419dnXgAX_J-AtZ&_nc_oc=AQnGmQxzWAJ9h8E7B0OLvzDI5q52idKy44nJW-iL1ms8FraptIAdW1HLPlsusOk3YZc&_nc_ht=scontent.fpkr3-1.fna&oh=03_AdTp_BNGSRWDrut3Hky0CtoovK0SurqYr-mNLNdqhOLjvQ&oe=644BB81C');
  background-size: cover;
  background-position: center;
  height: 109vh;
 scroll-behavior:smooth;


}
marquee{
  color:red;
  font-family:bold;
size:30px;
background-color:pink;

}
nav{
  position: fixed;
  height: 60px;
  width: 100%;
  background:black;
  box-shadow: 0px 4px 10px rgba(0,0,0,.3) ;
  text-shadow: 0cap;
  contain-intrinsic-block-size: 3px;
  transition: all.3s;

}
nav ul li a:hover{
  color:red;
}
nav .LOGO{
  font-size: 59px;
  font-weight: bold;
  font-style:italic;
  color: gold;
  line-height: 50px;
  font-family: arial;
  border-image: round;
}
nav ul{
  float: right;
  margin-right: 50px;
  position:sticky;
  margin: 5px;
  padding: auto;
}
nav ul li{
  display:inline-block;
list-style: none;
  margin: 0 15px ;
  line-height: 60px;

}
ul{
  display: flex;
  list-style: none;
}
nav ul li a{
 display: block;
  color: white;
  font-size: 27px;
  line-height: 35px;
  margin-left:10%;
  font-family:arial;
  font-style:italic;
  border-top:1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  border-left:  5px solid transparent;
  font-weight: bold;
  transition: 0.4s ease-in-out;


}
h{
  font-size:40px;
  color: blue;
  font-style: italic;
  font-weight:bold ;
background-color:white;
}
a.active{
  background-color:blue;
  padding: 5px;
  display: inline-block;
}

li a.contact{
  border-bottom:1px solid rgba(0,0,0,.5) ;
}
nav li a.contact{
  border-bottom: 1px solid rgba(255,255,255,.1);
}
 #section {
    display: flex;
    padding:10%;
margin-down:5px;
    align-content: center;
height:100%;
width:100%;
    
  }
  sectionone{
    display: flex;
width:100%;
    height:600px;
align-content:center;   
height:100%;
  }
p{
  font-weight: bold;
  font-size: larger;
  color:black;
}
h1{
  padding: 25px 0 5px 0px;

  font-size:40px;
  font:bold;
  font-style: italic;
  font-family:arial;
  margin-right: 1px;

}
l{
  font-size: 30px;
  color:white;
  font-weight: bold;
padding-left:20px;
text-align:centre;

}
li{
  font-size: 20px;
  color:blue;
  font-weight: bold;
text-align:centre;
    }
Form{
font-size:42px;
text-align:centre;
background-color:gold;
}
h3{
background-color:black;
}
BR{
font-size:33px;
}
input{
font-size:32px;
box-size:32px;

}
radio button{
font-size:32px;
}
h2{
font-color:red;
color:red;


}

search button{
font-size:40px;
}

a{
color:green;
font-size:15px;
font-family:arrial;
}
img{
image-size:small;
}

href{
size:30px;

}


