{
    margin:0;
  padding:0;
  text-decoration:none;
  box-sizing: border-box;
font-family:"popins",sans-serief;
}
img {
	Width:20%;		
height:200px
}
section{
height:100vh;
display-flex;
}
section1 {
  height: 700px;
  background-color:pink;
width:100%;
}
section2{
  height: 500px;
  background-color:orange;
width:100%;
}
section3{
  height: 500px;
  background-color:grey;
width:100%;
}
section4{
  height: 500px;
  background-color:red;
width:100%;
}
section5{
  height: 600px;
  background-color:white;
width:100%;
}
body{
  font-family: sans-serif;
  background-image: url('https://scontent.fpkr3-1.fna.fbcdn.net/v/t1.15752-9/337544883_536990218459637_808167075027434409_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=kOVe419dnXgAX_J-AtZ&_nc_oc=AQnGmQxzWAJ9h8E7B0OLvzDI5q52idKy44nJW-iL1ms8FraptIAdW1HLPlsusOk3YZc&_nc_ht=scontent.fpkr3-1.fna&oh=03_AdTp_BNGSRWDrut3Hky0CtoovK0SurqYr-mNLNdqhOLjvQ&oe=644BB81C');
   height:100%;
    width: 100%;
backgriund-scroll:smooth;
    background-size: cover;
    background-position: center;
}
marquee{
  color:brown;
  font-family:bold;
 font-style: italic;
    font-size:40px;
  }
nav{
  position: fixed;
  height:80px;
  Width:100%;
  background:black;
  contain-intrinsic-block-size: 3px;
  transition: all.3s;

}
nav ul li a:hover{
  color:red;
}
nav ul li a{
display: block-line;
  color: white;
  font-size: 35px;
margin-left:auto;
padding:2px;
font-height:20px;
  font-family:arial;
  font-style:italic;
  border-top:1px solid rgba(255, 255, 255, 0.1);
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
nav .LOGO{
  font-size: 50px;
  font-weight: bold;
  font-style:italic;
  color:gold;
  line-height: 50px;
  font-family: arial;

}
nav ul{
  float: right;
  margin-right: 50px;
  position:sticky;
  margin: 5px;
  padding: auto;
}
nav ul li{
  display:inline-block;
list-style: none;
  line-height: 60px;

}
li a.contact{
  border-bottom:1px solid rgba(0,0,0,.5) ;
}
.active a{
  color: black;
  border-right:  5px solid grey;
  background:grey;
}

nav li a.contact{
  border-bottom: 1px solid rgba(255,255,255,.1);
}
p{
  color:blue;
  font-weight: bold;
    font-size: 25px;
font-family:arrial;
}
h1{
  font-size: 45px;
  padding: 25px 0 5px 0px;
  color: gold;
  font:bold;
  font-style: italic;
  font-family:arial;
  margin-right: 1px;
  height: 50%;
}
h3{
  background: fixed;
  color:yellow;
    margin-left: 270px;
}
